/* Normal desktop :1366px. */
@media (min-width: 1366px) and (max-width: 1600px) {
  
/*--hero-section--*/
.hero-thumb img {
    margin-left: 22%;
}

/*--working-porcess-section--*/
.single-process-box {
    padding: 0 14px 0;
}
  
/*--about-section--*/
.single-about-thumb img {
    width: 100%;
    margin-left: -55px;
}
.about-content {
    padding-left: 0;
    position: relative;
}

.about-item-list ul li {
    list-style: none;
    margin-bottom: 4px;
    position: relative;
    font-size: 15px;
}

/*--blog-section--*/
.blog-content h4 a {
    font-size: 20px;
}

/*--testi-section--*/

.single-testi-box {
    padding: 22px 32px 24px;
}
.single-testi-box::before {
    width: 86%;
}

/*--section-title--*/
.section-title h1 {
    font-size: 30px;
}

/*--blog-details--*/
.blog-details-content h2 {
    font-size: 28px;
    line-height: 41px;
}

/*--services-details--*/
.service-details-main-title h1 {
    font-size: 32px;
}

.service-details-content h2 {
    font-size: 16px;
    padding-bottom: 3px;
    padding-top: 0;
}

/*--shope-section--*/
.single-product-box:hover .product-box-icon {
    left: 12%;
}

.product-box-icon {
    top: 52%;
}





}
/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1365px) {
  
 /*--hero-section--*/
 .hero-thumb img {
    margin-left: 12%;
}  

/*--working-porcess-section--*/
.single-process-box {
    padding: 0 14px 0;
}

/*--about-section--*/
.about-area {
    padding: 110px 0 102px;
}

.about-content {
    padding-left: 34px;
    position: relative;
}

.about-item-list ul li {
    font-size: 14px;
}

.single-about-thumb img {
    width: 100%;
    margin-left: -3%;
}

/*--blog-section--*/
.blog-content h4 a {
    font-size: 20px;
}

/*--testi-section--*/
.single-testi-box {
    padding: 22px 30px 24px;
}

/*--section-title--*/
.section-title h1 {
    font-size: 30px;
}


/*--blog-details--*/
.blog-details-content h2 {
    font-size: 28px;
    line-height: 40px;
}

/*--services-details--*/
.service-details-main-title h1 {
    font-size: 30px;
    line-height: 40px;
}

.service-details-overview-list ul li {
    padding-top: 11px;
}

.service-details-content h2 {
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 4px;
}

/*--shope-section--*/
.single-product-box:hover .product-box-icon {
    left: 12%;
}

.product-box-icon {
    top: 51%;
}



}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

/*--hero-section--*/
.hero-area {
    height: 650px;
}

.hero-main-titel h1 {
    font-size: 45px;
}

.hero-thumb img {
    margin-left: 0%;
    width: 100%;
}

/*--working-porcess--*/
.single-process-box {
    padding: 0 0 0;
}

.porcess-box-content p {
    font-size: 15px;
}

/*--about-section--*/
.about-area {
    padding: 106px 0 103px;
}

.single-about-thumb img {
    width: 100%;
    margin-left: -44px;
}

.about-content {
    padding-left: 0;
}

/*--blog-section--*/
.blog-area {
    padding: 107px 0 95px;
}
.blog-area.blog-list-area {
    padding: 119px 0 95px;
}
.single-blog-box {
    padding: 14px 17px 14px;
}

.meta-price {
    left: 16px;
    top: 12px;
}

.blog-content h4 a {
    font-size: 16px;;
}

/*--faqs-section--*/
.accordion li p {
    width: 95%;
}


/*--teasti-section-*/
.single-testi-box {
    padding: 22px 22px 24px;
    margin-top: 50px;
}


/*--section-title--*/
.section-title h1 {
    font-size: 22px;
}


/*-footer-section--*/
.footer-area {
    padding: 120px 0 114px;
}

.footer-widget-address-text p a {
    font-size: 15px;
}

.footer-social-icon ul li {
    margin-right: 7px;
}

/*--services-section--*/
.servcies-content h4 a {
    font-size: 17px;
}

.servcies-content {
    padding: 14px 4px 36px;
}

.servcies-content p {
    font-size: 15px;
}

/*--blog-details--*/
.blog-details-content h2 {
    font-size: 28px;
    line-height: 40px;
}

.recent-widget-thumb {
    margin-right: 5px;
}

.sidber-widget-recent-post .recent-widget-content a {
    font-size: 14px;
    line-height: 14px;
}

/*--pricing-section--*/
.pricing-head-text p {
    width: 70%;
}

/*--services-details-section--*/
.service-details-main-title h1 {
    font-size: 26px;
    line-height: 40px;
}

.service-details-overview-title h2 {
    font-size: 26px;
    line-height: 40px;
}

.service-details-overview-list ul li {
    padding-top: 9px;
}

.service-details-overview-list ul li::before {
    top: 18px;;
}

.service-details-number {
    right: 20px;
}

.service-details-content h2 {
    font-size: 18px;
    padding-top: 0px;
    line-height: 26px;
}

/*--shope-section--*/
.product-box-icon ul li i {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
}

.product-box-icon {
    top: 48%;
}

.single-product-box:hover .product-box-icon {
    left: 11%;
}

.product-box-content-title h6 {
    font-size: 16px;
}

/*--porduct-details-section--*/
.product-details-area {
    padding: 53px 0 116px;
}


/*--account-section--*/
.user-name p {
    font-size: 13px;
    line-height: 24px;
}







}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.sticky {
	position: absolute !important;
}
/*--top-bar-header-*/
.top-bar-area {
    display: none;
}
.header-area {
    display:none;
}

/*--hero-section--*/

.hero-area {
    height: 600px;
    margin-top: 64px;
}

.hero-thumb {
    display: none;
}

/*--servics-section--*/
.services-area {
    padding: 96px 0 82px;
}
.single-services-box {
    padding: 48px 9px 40px;
    margin-bottom: 27px;
}

/*--working-porcess-section--*/
.working-process-area {
    padding: 89px 0 44px;
}

.single-process-box {
    margin-bottom: 60px;
}

/*--about-section--*/
.about-area {
    padding: 108px 0 92px;
}

.single-about-thumb img {
    width: 100%;
    margin-bottom: 50px;
}

.about-content {
    padding-left: 0;
}

/*counter-section--*/
.counter-area {
    padding: 0px 0 23px;
}

.single-counter-box {
    margin-bottom: 80px;
}

/*--blog-section--*/
.blog-area {
    padding: 96px 0 86px;
}
.blog-area.blog-tow-column {
    padding: 107px 0 88px;
}
.blog-area.blog-list-area {
    padding: 108px 0 88px;
}
.blog-area.blog-list-area {
    padding: 108px 0 88px;
}
.blog-content h4 a {
    font-size: 18px;
}

/*--faqs-section--*/
.faqs-area {
    padding: 86px 0 110px;
}


/*--teati-section--*/
.testimonail-area {
    padding: 90px 0 107px;
}
.single-testi-box {
    margin-top: 50px;
    margin-left: 0;
}
/*--contact-section--*/
.contact-area {
    padding: 108px 0 108px;
}
.contact-thumb img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 45px;
}

/*--footer-area--*/
.footer-area {
    padding: 110px 0 61px;
}

.footer-widget {
    margin-bottom: 36px;
}

.coppy-right-menu {
    text-align: left;
    margin-top: 14px;
}

/*--breadcumb-section--*/
.breadcumb-content h1 {
    font-size: 50px;
}

/*--services-section--*/
.servcies-area-tow {
    padding: 97px 0 94px;
}
.servcies-content h4 a {
    font-size: 20px;
}


/*--blog-details--*/
.blog-detials-area {
    padding: 110px 0 88px;
}

.blog-details-content h2 {
    line-height: 44px;
}

/*--pricing-section--*/
.pricing-area {
    padding: 96px 0 75px;
}

.pricing-head-text p {
    width: 61%;
}

.pricing-content {
    margin-bottom: 30px;
}

/*--services-details-section--*/
.service-detials-area {
    padding: 110px 0 87px;
}

.service-details-main-title h1 {
    font-size: 30px;
    line-height: 45px;
}

.service-details-overview-title h2 {
    font-size: 28px;
    line-height: 40px;
}

.service-details-overview-list ul li {
    padding-top: 12px;
}

.service-details-overview-list ul li::before {
    top: 20px;
}

/*--shope-section--*/
.Product-area {
    padding: 108px 0 72px;
}

.single-product-box:hover .product-box-icon {
    left: 20%;
}

/*--porduct-details-section--*/
.product-details-area {
    padding: 94px 0 91px;
}
.pro-detalis-content h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 14px;
}

.tab-area {
    padding: 0 0 109px;
}

.tab-area .blog-details-comment {
    width: 100%;
}

/*--team-section--*/
.team-area {
    padding: 95px 0 110px;
}
.single-team-box {
    margin-right: 10px;
}

/* my-account-css */
.account-area {
    padding: 90px 0 116px;
}
.d-single-info {
    margin-bottom: 18px;
}
.user-name p {
    font-size: 14px;
}
.tabcontent {
    margin-top: 40px;
}

/*--account-details-section-*/
.account-details-area {
    padding: 110px 0 120px;
}

/*--breadcumb-section--*/
.breadcumb-area {
    padding: 89px 0 98px;
    margin-top: 60px;
}
/*--blog-grid-section--*/
.blog-area.blog-grid {
    padding: 96px 0 96px;
}





}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.sticky {
	position: absolute !important;
}
/*--top-bar--*/
.top-bar-area {
    display: none;
}
.header-area {
    display: none;
}

/*--hero-section--*/
.hero-area {
    height: 600px;
    margin-top: 62px;
}
.hero-main-titel h1 {
    font-size: 50px;
}

.hero-thumb img {
    display: none;
}


/*--services-secction--*/
.services-area {
    padding: 95px 0 73px;
}

.single-services-box {
    margin-bottom: 35px;
}

/*--working-porcess-area--*/
.working-process-area {
    padding: 88px 0 45px;
}
.single-process-box {
    margin-bottom: 60px;
    text-align: center;
}


/*--about-sectin--*/
.about-area {
    padding: 109px 0 92px;
}
.single-about-thumb img {
    width: 100%;
    margin-bottom: 50px;
}

/*--counter-section--*/
.counter-area {
    padding: 0px 0 55px;
}
.single-counter-box {
    margin-bottom: 50px;
}

/*--blog-section--*/
.blog-area {
    padding: 95px 0 85px;
}
.blog-area.blog-tow-column {
    padding: 110px 0 87px;
}
.blog-area.blog-list-area {
    padding: 108px 0 87px;
}
.blog-area.blog-grid {
    padding: 96px 0 96px;
}

/*--section-title--*/
.section-title h1 {
    font-size: 26px;
}


/*--faqs-section--*/
.faqs-area {
    padding: 85px 0 108px;
}

/*--testi-section--*/
.testimonail-area {
    padding: 88px 0 108px;
}
.single-testi-box {
    margin-top: 50px;
    margin-left: 0;
}

/*--contact-section--*/
.contact-area {
    padding: 108px 0 108px;
}

.contact-thumb img {
    margin-bottom: 40px;
    margin-left: 0;
}

.google-map iframe {
    height: 450px;
}

/*--footer-section--*/
.footer-area {
    padding: 110px 0 103px;
}

.footer-widget {
    margin-top: 45px;
}

.coppy-right-menu {
    text-align: left;
    margin-top: 4px;
}

/*--breadcumb-section--*/
.breadcumb-area {
    padding: 90px 0 100px;
    margin-top: 60px;
}

.breadcumb-content h1 {
    font-size: 50px;
}

/*--services-section--*/
.servcies-area-tow {
    padding: 96px 0 95px;
}

/*--blog-details-section--*/
.blog-detials-area {
    padding: 110px 0 87px;
}

.blog-details-content h2 {
    line-height: 40px;
}

/*--pricing-section--*/
.pricing-area {
    padding: 96px 0 76px;
}

.pricing-content {
    margin-bottom: 30px;
}

.pricing-body {
    margin-left: 36%;
}

/*--services-details-section--*/
.service-detials-area {
    padding: 109px 0 86px;
}

.service-details-main-title h1 {
    font-size: 36px;
    line-height: 45px;
}

.service-details-overview-title h2 {
    font-size: 30px;
    line-height: 45px;
}

.service-details-overview-list ul li {
    padding-top: 17px;
}

.service-details-overview-list ul li::before {
    top: 25px;
}

/*--shope-section--*/
.Product-area {
    padding: 108px 0 62px;
}

.single-product-box:hover .product-box-icon {
    left: 30%;
}

.product-box-icon {
    top: 66%;
}

/*--product-details-section--*/
.product-details-area {
    padding: 90px 0 104px;
}
.tab-area {
    padding: 0 0 110px;
}

.tab-area .blog-details-comment {
    width: 100%;
}

/*--team-section--*/
.team-area {
    padding: 95px 0 110px;
}
.single-team-box {
    margin-right: 0;
}


/*--Start-My-account-css--*/
.account-area {
    padding: 94px 0 118px;
}

.veiw-shope {
    float: left;
    margin-bottom: 18px;
    margin-top: 10px;
}
.d-single-info {
    border: 1px solid #ccc;
    padding: 18px 19px;
    border-radius: 5px;
    margin-bottom: 14px;
    margin-top: 16px;
}
.tabcontent {
    margin-top: 36px;
}

/*--account-details-section--*/
.account-details-area {
    padding: 110px 0 120px;
}


}
/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {
.sticky {
	position: absolute !important;
}
.top-bar-area {
    display: none;
}

.header-area {
    display: none;
}

/*--heor-section-*/
.hero-area {
    height: 550px;
    margin-top: 64px;
}
.hero-main-titel h1 {
    font-size: 42px;
}
.hero-thumb img {
    display: none;
}

/*--servcies-section--*/
.services-area {
    padding: 85px 0 70px;
}
.single-services-box {
    margin-bottom: 28px;
}


/*--working-porcess-section--*/
.working-process-area {
    padding: 79px 0 35px;
}
.single-process-box {
    margin-bottom: 60px;
    text-align: center;
    
}

/*--about-section--*/
.about-area {
    padding: 100px 0 84px;
}
.single-about-thumb img {
    width: 100%;
    margin-bottom: 45px;
}

.about-content {
    padding-left: 21px;
}

/*--counter-section--*/
.counter-area {
    padding: 0px 0 54px;
}
.single-counter-box {
    text-align: center;
    margin-bottom: 40px;
}

/*--blog-section--*/
.blog-area {
    padding: 83px 0 78px;
}
.blog-area.blog-tow-column {
    padding: 100px 0 77px;
}
.blog-area.blog-list-area {
    padding: 100px 0 78px;
}
.blog-area.blog-grid {
    padding: 86px 0 88px;
}
/*--section-title--*/
.section-title h1 {
    font-size: 24px;
}

/*--testi-sction--*/
.testimonail-area {
    padding: 80px 0 100px;
}
.single-testi-box {
    padding: 22px 30px 24px;
    margin-top: 46px;
    margin-left: 0;
}

/*--faqs-section--*/
.faqs-area {
    padding: 79px 0 99px;
}

/*--contact-section--*/
.contact-area {
    padding: 98px 0 98px;
}
.contact-thumb img {
    margin-left: 0;
    margin-bottom: 28px;
}

.google-map iframe {
    height: 400px;
}


/*--footer-section--*/
.footer-area {
    padding: 100px 0 90px;
}
.footer-widget {
    margin-top: 40px;
}
.coppy-right-menu {
    text-align: left;
}

/*--breadcumb-section--*/
.breadcumb-area {
    padding: 93px 0 100px;
    text-align: center;
    margin-top: 60px;
}
.breadcumb-content h1 {
    font-size: 45px;
}

/*--services-section--*/
.servcies-area-tow {
    padding: 87px 0 84px;
}

/*--blog-deatils--*/
.blog-detials-area {
    padding: 100px 0 76px;
}
.blog-details-content h2 {
    font-size: 20px;
    line-height: 30px;
}

.blog-details-author-thumb {
    float: inherit;
    margin-right: 0;
    text-align: center;
    margin-bottom: 25px;
}

.blog-details-author-content {
    text-align: center;
}

.blog-details-comment.reply {
    margin-left: 0;
}

.blog-details-contact {
    margin: 0;
}


/*pricing-section--*/
.pricing-area {
    padding: 86px 0 68px;
}

.pricing-content {
    margin-bottom: 30px;
}

.pricing-body {
    margin-left: 33%;
}

/*--services-details-section--*/
.service-detials-area {
    padding: 100px 0 78px;
}

.service-details-main-title h1 {
    font-size: 30px;
    line-height: 42px;
}

.service-details-overview-title h2 {
    font-size: 30px;
    line-height: 40px;
}

.service-details-overview-list ul li {
    padding-top: 14px;
}

.service-details-overview-list ul li::before {
    top: 21px;
}

/*--shope-section--*/
.Product-area {
    padding: 99px 0 61px;
}

.single-product-box:hover .product-box-icon {
    left: 30%;
}

/*--product-details-section--*/
.product-details-area {
    padding: 84px 0 100px;
}
.pro-detalis-content h1 {
    font-size: 30px;
    margin-bottom: 18px;
}

.tab-area {
    padding: 0 20px 111px;
}
.pro-feature ul li a {
    font-size: 15px;
}

.pro-feature ul li a:hover{
    color: #2F39E1;
}

/*--team-section--*/
.team-area {
    padding: 85px 0 100px;
}

.single-team-box {
    margin-right: 0;
}

/*--My-account-css--*/
.account-area {
    padding: 84px 0 107px;
}
.veiw-shope {
    float: left;
  margin-top: 22px;
}
.d-single-info {
    margin-bottom: 6px;
    margin-top: 25px;
}
.tabcontent {
    margin-top: 40px;
}
.text-left tr th {
    padding: 11px 33px;
    position: relative;
}

/*--account-details-section--*/
.account-details-area {
    padding: 100px 0 110px;
}



}

/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {

/*top-bar-section--*/
.top-bar-area {
    display: none;
}
.header-area {
    display: none;
}
.sticky {
	position: absolute !important;
}

/*--hero-section--*/
.hero-area {
    height: 600px;
    margin-top: 62px;
}
.hero-main-titel h1 {
    font-size: 30px;
}
.hero-thumb img {
    display: none;
}

.hero-button a.button-bg-none {
    margin-right: 25px;
    margin-top: 28px;
}
/*--section-title--*/
.section-title h1 {
    font-size: 22px;
    line-height: 39px;
}

/*servcies-section--*/
.services-area {
    padding: 74px 0 70px;
}
.single-services-box {
    margin-bottom: 28px;

}

/*--working-process--*/
.working-process-area {
    padding: 62px 0 35px;
}
.single-process-box {
    margin-bottom: 50px;
    padding: 0 18px 0 ;
    text-align: center;
}

/*-about-section--*/
.about-area {
    padding: 90px 0 74px;
}
.single-about-thumb img {
    width: 100%;
    margin-bottom: 30px;
}

.about-content {
    padding-left: 0;
    position: relative;
}
.about-content-title h4 {
    margin: 0 0 25px;
    font-size: 16px;
}

/*--counter-section--*/
.counter-area {
    padding: 0px 0 31px;
}
.single-counter-box {
    margin-bottom: 50px;
}


/*--blog-section--*/
.blog-area {
    padding: 74px 0 68px;
}
.blog-area.blog-tow-column {
    padding: 88px 0 70px;
}
.blog-area.blog-grid {
    padding: 78px 0 77px;
}
.blog-area.blog-list-area {
    padding: 88px 0 68px;
}
.blog-content h4 a {
    font-size: 16px;
}
.meta-price {
    left: 17px;
    top: 13px;
}
.blog-content p {
    font-size: 16px;
    padding: 12px 0 15px;
}


/*--faqs-section--*/
.faqs-area {
    padding: 60px 0 88px;
}
.accordion h3 {
    text-indent: 2px;
    font-size: 12px;
}
.accordion h3::after {
    right: 6px;
    top: 24px;
}

.accordion li p {
    font-size: 15px;
    width: 100%;
    margin-left: 0;
}

.faqs-content h4 {
    font-size: 18px;
}
.section-title.responsive-320 {
    margin-bottom: 0;
}


/*--testi-section--*/
.testimonail-area {
    padding: 60px 0 88px;
}
.single-testi-box {
    padding: 22px 24px 24px;
    margin-top: 50px;
    margin-left: 0;
}

/*--contact-section--*/
.contact-area {
    padding: 89px 0 90px;
}
.contact-thumb img {
    margin-left: 0;
    margin-bottom: 26px;
}
.contact-right-content {
    padding: 33px 19px 42px;
}

.google-map iframe {
    height: 320px;
}


/*--footer-section--*/
.footer-area {
    padding: 90px 0 60px;
}

.footer-widget {
    margin-top: 40px;
}
.footer-widget-address {
    margin-bottom: 24px;
}

.coppy-right-area {
    padding: 22px 0 22px;
}
.coppy-right-text span {
    font-size: 15px;
}
.coppy-right-menu {
    text-align: center;
}
.coppy-right-menu ul li {
    margin-right: 14px;
}
.coppy-right-menu ul li a {
    font-size: 16px;
}


/*--breadcumb-section--*/
.breadcumb-area {
    padding: 81px 0 86px;
    text-align: center;
    margin-top: 62px;
}

.breadcumb-content h1 {
    font-size: 30px;
}

/*--services-section--*/
.servcies-area-tow {
    padding: 77px 0 76px;
}
.servcies-content h4 a {
    font-size: 16px;
}
.servcies-content {
    padding: 14px 0 36px;
}

/*--blog-details--*/
.blog-detials-area {
    padding: 89px 0 68px;
}
.blog-details-meta span {
    margin-right: 20px;
    display: block;
}
.blog-details-content h2 {
    font-size: 20px;
    line-height: 28px;
}

.blog-details-content h3 {
    font-size: 20px;
    line-height: 30px;
}

.blog-details-content-list p {
    margin-bottom: 18px;
}

.blog-details-social {
    text-align: left;
    margin-top: 20px;
}
.blog-details-button a.active {
    margin-top: 7px;
}
.blog-details-author-thumb {
    float: inherit;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
}
.blog-details-author-content h2 {
    font-size: 18px;;
}
.blog-details-author-content {
    text-align: center;
}

.blog-details-author-inner {
    padding: 30px 8px 25px;
}
.blog-details-comment-reply a {
    display: none;
}
.blog-details-comment-thumb {
    float: left;
    margin-right: 0;
}

.blog-details-comment-thumb img {
    width: 88%;
}

.blog-details-comment.reply {
    margin-left: 0;
}

.blog-details-contact {
    margin: 0;
}

.sidber-widget-recent-post .recent-widget-content a {
    font-size: 15px;
}

/*--pricing-section--*/
.pricing-area {
    padding: 76px 0 57px;
}

.pricing-content {
    margin-bottom: 30px;
}

.pricing-head-text p {
    width: 75%;
}

.pricing-body {
    margin-left: 25%;
}

/*--services-details--*/
.service-detials-area {
    padding: 90px 0 69px;
}

.service-details-main-title h1 {
    font-size: 22px;
    line-height: 30px;
}

.service-details-overview-title h2 {
    font-size: 22px;
    line-height: 30px;
}

.service-details-choose-us-title h2 {
    font-size: 22px;
}

.service-details-overview-list ul li {
    padding-top: 10px;
}

.service-details-overview-list ul li::before {
    top: 18px;
}

/*--shope-section--*/
.Product-area {
    padding: 88px 0 50px;
}

/*--product-details-section--*/
.product-details-area {
    padding: 73px 0 85px;
}
.pro-detalis-content h1 {
    font-size: 24px;
    margin-bottom: 13px;
}

.price p {
    font-size: 20px;
}

.title h5 {
    font-size: 20px;
}
.tab-area {
    padding: 0 0 96px 23px;
}

#London p {
    width: 95%;
}

#Paris ul li a {
    line-height: 30px;
    font-size: 12px;
}
.tab-area .blog-details-comment {
    width: 100%;
}

/*--team-section--*/
.team-area {
    padding: 74px 0 88px;
}

.single-team-box {
    margin-right: 0;
}

/*--Start-My-account-css--*/

.account-area {
    padding: 74px 0 96px;
}
.veiw-shope {
    float: left;
    margin-top: 20px;
}
.d-single-info {
    margin-bottom: 0px;
    margin-top: 25px;
}
.tabcontent {
    margin-top: 33px;
}

/*--Start-account-details-css--*/
.account-details-area {
    padding: 90px 0 100px;
}
.details-content h4 {
    font-size: 18px;
}
.account-input-box input {
    margin-bottom: 24px;
}



}



